<a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>

<div class="container">
  <div class="columns" style="min-height: 100vh;">
    <div class="column col-5 bg-primary">Left</div>
    <div class="column col-7">Right</div>
  </div>
</div>
