script data-cb-site="appnouncements-test" src="https://js.chargebee.com/v2/chargebee.js" 

h3 Billing Overview
hr
.row
  .col-sm-8
    p.lead
      | You can manage your card on file, billing address, and invoice history through our portal.
  .col-sm-4
    a.chargebee-portal.btn.btn-primary.d-block [role="button" href="#"] Open Billing Portal
br
  / a.chargebee-portal.btn.btn-primary [data-cb-section="ADDRESS"] Billing Address

h4 Plan
hr
= render "pricing"
.text-center.small
  | All plan changes will take effect immediately and be prorated (including refunds) based on the time of your plan change.

= form_tag billing_path, method: "put", id: "update-cb-form" do
  

javascript:
  var cbInstance = Chargebee.init({site: "#{Rails.application.credentials[Rails.env.to_sym][:chargebee][:site]}"});
  $(".chargebee-portal").on("click", function() {
      event.preventDefault();
      cbInstance.setPortalSession(function() {
          return $.ajax({
              method: "post",
              url: "#{portal_session_billing_path.html_safe}"
          });
      });
      
      if ($(event.target).data("cb-section")) {
          cbInstance.createChargebeePortal().openSection({
              sectionType: Chargebee.getPortalSections()[$(event.target).data("cb-section")],
              params: {
                  subscriptionId: "#{current_user.subscription.chargebee_id}"
              }
          });  
      }
      else {
          cbInstance.createChargebeePortal().open();
      }
  });
  $(".chargebee-checkout").on("click", function () {
      event.preventDefault();
      cbInstance.openCheckout({
          hostedPage: function () {
              return $.ajax({
                  method: "post",
                  url: "#{hosted_page_billing_path.html_safe}",
                  data: {
                      plan_id: $(event.target).data("cb-plan")
                  }
              });
          },
          success: function (hostedPageId) {
              $("#update-cb-form").submit();
          }
      });
  }); 