script data-cb-site="appnouncements-test" src="https://js.chargebee.com/v2/chargebee.js" 

h3 Billing Overview
hr
- if current_user.subscription.plan == "free"
  a#upgrade.btn.btn-primary Upgrade From Free
- else
  a#portal.btn.btn-primary Portal

javascript:
  var cbInstance = Chargebee.init({site: "#{Rails.application.credentials[Rails.env.to_sym][:chargebee][:site]}"});
  $("#portal").on("click", function() {
      cbInstance.setPortalSession(#{@portal.to_json.to_s.html_safe});
      cbInstance.createChargebeePortal().open({
          close: function() {
              location.reload(true);
          }
      });
  });
  $("#upgrade").on("click", function () {
      event.preventDefault();
      cbInstance.openCheckout({
          hostedPage: function () {
              return new Promise(function(resolve, reject) {
                  resolve(#{@hosted_page.to_json.to_s.html_safe});
              });
          },
          close: function () {
              location.reload(true);
          },
          success: function (hostedPageId) {
              location.reload(true);
          }
      });
  }); 