<div class="empty">
  <div class="empty-icon">
    <i class="icon icon-apps"></i>
  </div>
  <p class="empty-title h5">You have no apps</p>
  <p class="empty-subtitle">Get started by adding an app</p>
  <div class="empty-action">
    <a href="<%= new_app_path %>" class="btn btn-primary">Create an App</a>
  </div>
</div>
