.empty
  .empty-icon
    i.icon.icon-apps
  p.empty-title.h5
    | You have no apps
  p.empty-subtitle
    | Get started by adding an app
  .empty-action
    |  <a href="
    = new_app_path
    | " class="btn btn-primary">Create an App
