= link_to edit_app_release_path(@app, release_timeline_item), class: "btn tooltip tooltip-left", "data-tooltip": "Edit these release notes"
  = release_timeline_item.title
  br
  = format_version(release_timeline_item)