.bg-secondary
  .container.grid-lg
    header.navbar
      section.navbar-section
        a.navbar-brand.mr-2 href="#"
          | Appnouncements
        = link_to "Apps", apps_url, class: "btn btn-link"
      section.navbar-section
        - if current_user
          .dropdown.dropdown-right
            a.btn.btn-link.dropdown-toggle tabindex="0"
              figure.avatar.avatar-sm.bg-primary data-initial="YZ"
              i.icon.icon-caret
            ul.menu
              li.menu-item
                a[href="#dropdowns"]
                  |  Settings 
              li.menu-item
                a[href="#dropdowns"]
                  |  Sign Out 
        - else
          a.btn.btn-sm[href="#"]
            | Sign In
          a.btn.btn-primary.btn-sm.ml-2[href="#"]
            | Sign Up
